<head>
    <title>StreamDream</title>
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <script src="https://use.fontawesome.com/cdd9a6f11c.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/theme/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/assets/theme/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Bootstrap (remove later) -->
    <!--
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/additional.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
     -->

     <% include scripts.ejs %>
</head>
