<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">StreamDream</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/library">Library</a></li>
      <li><a href="/remote">Remote</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/library">Library</a></li>
      <li><a href="/remote">Remote</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
