<html>
<% include partials/head.ejs %>
<body>
    <% include partials/navigation.ejs %>
    <div class='container'>
      <h1>404.</h1>
      <h2>Oops, you've done something wrong.</h2>
    </div>
</body>
</html>
