<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>
    <div class='container'>
      <h1>Library.</h1>

      <div class="section">
        <h4><%- data.series_name %></h4>

        <%- data.seasons %>
      </div>

      <div class="divider"></div>
      <br>
      Episode or season missing? Simply request it.
      <br>
      <br>

      <script>
        $(document).ready(function(){
          $('ul.tabs').tabs();
        });
      </script>

    </div>
  </body>
</html>
