<html>
  <% include partials/head.ejs %>
  <body>
    <div class="container signin-container">

      <img src="assets/img/cinema_ticket.png" width="250px">

      <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <%- errors %>
        <br>
        <br>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name = "username" class="form-control btn-margin" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control btn-margin" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <button type="button" id="register" onclick="window.location='/register';" class="btn btn-sm btn-default btn-block">Register</button>

      </form>

    </div>
  </body>
</html>
